.PageContainer {
  height: auto;
}

.navbar {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.navbar a {
  margin-left: 2em;
}

.navbar-brand {
  @import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");
  font-family: "Mountains of Christmas", cursive;
  font-size: 1.5em !important;
  color: rgb(211, 211, 211) !important;
}

.NavbarCart {
  align-self: center;
  margin-left: 50% !important;
}
.NavbarCart img {
  width: 4em;
}
.NavbarCart .CartContador {
  margin-top: 0.5em;
  float: right;
}

body {
  background-image: url("../img/Bgg.png");
}

.CarrouselContainer {
  margin-top: 2em;
}

.Container1 {
  background-color: none;
  width: 100%;
  height: 36em;
  margin-top: 2em;
  overflow: hidden;
}
.Container1 img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 55em;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.Container2 {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  display: none;
}
.Container2 div {
  margin: auto;
}

/* Tienda Section */
.TiendaInner {
  display: grid;
  grid-template-columns: 80% 20%;
}

.ProductoPrecio {
  background-image: url(../img/CartBg.png);
  margin: auto;
  margin-top: 0em;
  margin-right: 5em;
  height: auto;
  width: 90%;
  border: solid 2px black;
  border-radius: 10px;
}
.ProductoPrecio h4 {
  margin-top: 1em;
  text-align: center;
}
.ProductoPrecio p {
  text-align: center;
}

.PresTienda {
  font-size: 3em;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  width: 60%;
}

.Container1Tienda {
  margin: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: none;
  width: 90%;
  height: auto;
  min-height: 30em;
  margin-top: 2em;
  overflow: hidden;
}
.Container1Tienda img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.Producto {
  background-image: url(../img/ProductoBG.png);
  margin: auto;
  width: 70%;
  border: solid 2px #32527b;
  height: 38em;
  margin-top: 4em;
}
.Producto .ProductoTitulo {
  font-weight: bolder;
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Raleway&display=swap");
  margin: auto;
  margin-top: 0em;
  width: 80%;
  height: 5em;
}
.Producto .ProductoTitulo P {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.4em;
  text-align: center;
  margin-top: 1em;
}
.Producto .ImgProducto {
  margin: auto;
  margin-top: 0.5em;
  width: 90%;
  border-radius: 10px;
  border: solid 3px #32527b;
  height: 25em;
  overflow: hidden;
}
.Producto .ImgProducto img {
  margin: auto;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.Producto .DetallesProducto {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  margin-top: 0.8em;
  width: 90%;
  border-radius: 10px;
  border: solid 2px #32527b;
  height: 4em;
}
.Producto .DetallesProducto .PrecioProducto {
  width: 80%;
  margin-top: 0.3em;
  margin-left: 0.5em;
  height: 80%;
}
.Producto .DetallesProducto .PrecioProducto p {
  font-size: 1.3em;
  text-align: center;
  margin-top: 0.4em;
}
.Producto .DetallesProducto .AgregarProducto {
  width: 50%;
  margin-top: 0.3em;
  margin-left: 2.5em;
  height: 80%;
}
.Producto .DetallesProducto .AgregarProducto .AgregarCarro {
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 0.1em;
  height: 3em;
}
.Producto .DetallesProducto .AgregarProducto .AgregarCarro:hover {
  background-color: rgb(201, 231, 246);
}
.Producto .DetallesProducto .AgregarProducto .AgregarCarro:active {
  box-shadow: 2px 2px 2px black;
}
.Producto .DetallesProducto .AgregarProducto .AgregarCarro:active img {
  width: 70%;
}

.BarraBusqueda button {
  margin: auto;
  width: 10%;
}
.BarraBusqueda button img {
  width: 100%;
}

/* End Tienda Section */
/* About Section */
.Container1about {
  background-color: rgba(211, 211, 211, 0.3);
  width: 100%;
  height: 36em;
  margin-top: 2em;
  overflow: hidden;
}
.Container1about h2 {
  font-size: 3em;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 0.2em;
}
.Container1about h5 {
  width: 50%;
  margin: auto;
  margin-top: 2em;
}
.Container1about img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 160%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

/* End About Section */
/* Contact Section */
.ConMensaje {
  width: 80%;
  margin: auto;
  margin-top: 3em;
}
.ConMensaje h2 {
  font-size: 3em;
  text-align: center;
}

.ConForm .ConFormFields {
  width: 60%;
  margin: auto;
  margin-top: 3em;
}
.ConForm .ConFormFields .TextInput {
  display: block;
  width: 50%;
  margin: auto;
}
.ConForm .ConFormFields textarea {
  display: block;
  width: 50%;
  margin: auto !important;
  resize: none;
}
.ConForm .ConFormFields .SubmitButton {
  height: 2.5em;
  border-radius: 3px;
  border: solid 1px black;
  background-color: rgb(218, 218, 218);
  display: block;
  width: 20%;
  margin: auto;
}

/* End Contact Section */
/* Cart Section */
.Container1Cart {
  background-color: rgba(211, 211, 211, 0.3);
  width: 100%;
  height: auto;
  max-height: auto;
  margin-top: 2em;
  overflow: hidden;
}

.CarroProductosContainer {
  display: grid;
  grid-template-columns: 90% 10%;
}

.CarroHeader {
  margin-left: 10%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  border-bottom: solid rgb(38, 48, 89) 4px;
}
.CarroHeader h5 {
  text-align: center;
}

.CosteFinalCarro {
  margin: auto;
  margin-top: auto;
  margin-bottom: 2em;
  width: 100%;
}
.CosteFinalCarro p {
  text-align: center;
}

.CarroProducto {
  margin: auto;
  margin-top: 2em;
  margin-left: 13em;
  width: 80%;
  height: auto;
  display: grid;
  min-height: 30em;
  grid-template-columns: 10% 10% 20% 25% 22%;
  row-gap: 2em;
}
.CarroProducto img {
  margin: auto;
  width: 70%;
}
.CarroProducto p {
  text-align: center;
  margin: auto;
  margin-left: 65%;
}
.CarroProducto div {
  display: flex;
  height: 3.5em;
  width: 60%;
  margin: auto;
  margin-left: 50%;
  justify-content: space-evenly;
}
.CarroProducto div p {
  margin: auto;
}
.CarroProducto div button {
  height: auto;
  width: auto;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  outline: none !important;
}
.CarroProducto div button img {
  width: 2em;
}
.CarroProducto button {
  margin: auto;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  outline: none !important;
}
.CarroProducto button img {
  width: 2em;
}
.CarroProducto .CarroProductoTotal {
  margin-left: 85%;
}

.FinalizarCompra {
  grid-area: left;
  grid-column: 2/2;
}
.FinalizarCompra button {
  height: 3em;
  border-radius: 15px;
  background-color: rgb(218, 218, 218);
  color: #2e353d;
}

/* End Cart Section */
/* Payment Section */
.Container1Payment {
  justify-content: center;
  min-height: 35em;
  display: grid;
  grid-template-columns: 30% 30%;
  margin: auto;
  margin-top: 5em;
}

/* End Payment Section */
/*Footer Section*/
.FooterSec1 {
  @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
  font-weight: bolder;
  border-right: solid 1px black;
  width: 50%;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
}

.FooterSec2 {
  border: solid 2px black;
  height: 90%;
  overflow: hidden;
}

.FooterSec3 {
  border-left: solid 1px black;
  margin-left: 50%;
  width: 50%;
  height: 10.5em;
}
.FooterSec3 .SocialIcons {
  width: 90%;
  margin: auto;
}
.FooterSec3 .SocialIcons ul {
  margin-top: 3.5em;
  margin-left: 8em;
}
.FooterSec3 .SocialIcons ul li {
  display: inline;
}
.FooterSec3 .SocialIcons ul li img {
  margin-left: 2em;
  width: 18%;
}

.footer {
  font-size: 0.65em;
  border: solid 2px black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  background-color: rgb(218, 218, 218);
  height: 20em;
  margin-top: 10em;
}
.footer div {
  margin: auto;
}
.footer div ul {
  list-style-type: none;
}
.footer div ul li {
  margin-top: 1em;
}

/*End Footer Section*//*# sourceMappingURL=index.css.map */