
.PageContainer {
    height: auto;
}

.navbar {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    a{
    margin-left: 2em;
}
}

.navbar-brand {
    @import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
    font-family: 'Mountains of Christmas', cursive;
    font-size: 1.5em !important; 
    color:rgb(211, 211, 211) !important; 
}

.NavbarCart {
   align-self: center;
   margin-left: 50% !important;
   img{
    width: 4em;
   }
   
   .CartContador {
    margin-top: 0.5em;
    float: right;
   }  
}

body{
    background-image: url("../img/Bgg.png");
}

.CarrouselContainer {
    margin-top: 2em;
}

.Container1 {
    background-color: none;
    width: 100%;
    height: 36em;
    margin-top: 2em;
    overflow: hidden;

    img {
        display: block;
        margin: auto;
        max-width:100%;
        max-height:55em;    
        object-fit: cover;
        overflow: hidden;
    }
}

.Container2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    display: none;
    div {
        margin: auto;
    }
}

/* Tienda Section */

.TiendaInner {
    display: grid;
    grid-template-columns: 80% 20%;
}

.ProductoPrecio {
    background-image: url(../img/CartBg.png);
    margin: auto;
    margin-top: 0em;
    margin-right: 5em;
    height: auto;
    width: 90%;
    border: solid 2px black;
    border-radius: 10px;

    h4 {
        margin-top: 1em; 
        text-align: center;}
    p{text-align: center;}

}

.PresTienda{
        font-size: 3em;
        text-align: center;
        margin: auto;
        margin-top: 0.5em;
        width: 60%;
    }

.Container1Tienda {
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: none;
    width: 90%;
    height: auto;
    min-height: 30em;
    margin-top: 2em;
    overflow: hidden;

    img {
        display: block;
        margin: auto;
        max-width:100%;
        max-height:100%;    
        object-fit: cover;
        overflow: hidden;
    }
}

.Producto {
    background-image: (url(../img/ProductoBG.png));
    margin: auto;
    width: 70%;
    border: solid 2px #32527b;
    height: 38em;
    margin-top: 4em;

    .ProductoTitulo {
        font-weight: bolder;
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Raleway&display=swap');
        margin: auto;
        margin-top: 0em;
        width: 80%;
        height: 5em;

        P{  overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 1.4em;
            text-align: center;
            margin-top: 1em;}

    }

    .ImgProducto {
        margin: auto;
        margin-top: 0.5em;
        width: 90%;
        border-radius: 10px;
        border: solid 3px #32527b;
        height: 25em;
        overflow: hidden;
        
        img{
            margin: auto;
            width: 100%;
            height: auto;
             object-fit: cover;}
       
    }
    .DetallesProducto {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: auto;
        margin-top: 0.8em;
        width: 90%;
        border-radius: 10px;
        border: solid 2px #32527b;
        height: 4em;

        .PrecioProducto {
            width: 80%;
            margin-top: 0.3em;
            margin-left: 0.5em;
            height: 80%;
            p{
                font-size: 1.3em;
                text-align: center;
                margin-top: 0.4em;}
        }

        .AgregarProducto {
            width: 50%;
            margin-top: 0.3em;
            margin-left: 2.5em;
            height: 80%;

            .AgregarCarro {
                border-radius: 10px;
                background-color: rgb(230, 230, 230);
                display: block;
                width: 100%;
                margin: auto;
                margin-top: 0.1em;
                height: 3em;
                &:hover{
                    background-color: rgb(201, 231, 246);
                }
                &:active{
                    box-shadow: 2px 2px 2px black;
                    img{
                     width: 70%;
                    }
                }
              
            }

        }
    }
}

.BarraBusqueda {

    button { 
        margin: auto;
        width: 10%;
        img {
            width: 100%;
        }
    }

}

/* End Tienda Section */

/* About Section */

.Container1about {
    background-color: rgb(211, 211, 211, .3);
    width: 100%;
    height: 36em;
    margin-top: 2em;
    overflow: hidden;

    h2{
        font-size: 3em;
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 0.2em;
    }

    h5{
        width: 50%;
        margin: auto;
        margin-top: 2em;
    }

    img {
        display: block;
        margin: auto;
        max-width:100%;
        max-height:160%;    
        object-fit: cover;
        overflow: hidden;
    }
}
/* End About Section */

/* Contact Section */

.ConMensaje {
    width: 80%;
    margin: auto;
    margin-top: 3em;
    
    h2{
        font-size: 3em;
        text-align: center;
    }

}

.ConForm {
   
.ConFormFields {
    width: 60%;
    margin: auto;
    margin-top: 3em;
    .TextInput{ 
        display: block;
        width: 50%;
        margin: auto;
    }
        textarea {
            display: block;
            width: 50%;
            margin: auto !important;
            resize: none;
        }
        .SubmitButton {
            height: 2.5em;
            border-radius: 3px;
            border: solid 1px black;
            background-color: rgb(218, 218, 218);
            display: block;
            width: 20%;
            margin: auto;
        }
    }
 }

 /* End Contact Section */


/* Cart Section */

.Container1Cart {
    background-color: rgb(211, 211, 211, .3);
    width: 100%;
    height: auto;
    max-height: auto;
    margin-top: 2em;
    overflow: hidden;
}

.CarroProductosContainer {
    display: grid;
    grid-template-columns: 90% 10%;

}

.CarroHeader {
    margin-left: 10%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-bottom: solid rgb(38, 48, 89) 4px;
    h5 {
        text-align: center;
    }
}

.CosteFinalCarro {
    margin: auto;
    margin-top:auto;
    margin-bottom: 2em;
    width: 100%;
    p {
        text-align: center;
    }
}

.CarroProducto {
    margin: auto;
    margin-top: 2em;
    margin-left: 13em;
    width: 80%;
    height: auto;
    display: grid;
    min-height: 30em;
    grid-template-columns: 10% 10% 20% 25% 22%;
    row-gap: 2em;
 img{
    margin: auto;
    width: 70%;
 }   

 p{ 
    text-align: center;
    margin: auto;
    margin-left: 65%;
 }

 div{
    display: flex;
    height: 3.5em;
    width: 60%;
    margin: auto;
    margin-left: 50%;
    justify-content: space-evenly;
    p{margin: auto;}
    button { 
        height: auto;
        width: auto;
        border-radius: 100%;
        cursor: pointer;
        border: none;
        outline: none !important;
        img{
            width: 2em;   
        }
    }
 }

button { 
    margin: auto;
    height: 3em;
    width: 3em;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none !important;
    img{
        width: 2em;
        
    }
}
.CarroProductoTotal{
    margin-left: 85%;
}
}

.FinalizarCompra {
    grid-area: left;
  grid-column: 2 / 2;
  button{
    height: 3em;
    border-radius: 15px;
    background-color: rgb(218, 218, 218);
    color: #2e353d;
  }
}

/* End Cart Section */

/* Payment Section */

.Container1Payment {
    justify-content: center;
    min-height: 35em;
    display: grid;
    grid-template-columns: 30% 30%;
    margin: auto;
    margin-top: 5em;
}

/* End Payment Section */

/*Footer Section*/

.FooterSec1 {
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    font-weight: bolder;
    border-right: solid 1px black;
    width: 50%;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
}

.FooterSec2 {
    border: solid 2px black;
    height: 90%;
    overflow: hidden;

}

.FooterSec3 {
    border-left: solid 1px black;
    margin-left: 50%;
    width: 50%;
    height: 10.5em;
    .SocialIcons {
        width: 90%;
        margin: auto;
    ul { margin-top: 3.5em;   margin-left: 8em;
        li { 
            display: inline; 
            img{
                margin-left: 2em;
                width: 18%;                
            }
        }
    }
}
}
.footer{ 
    font-size: 0.65em;
    border: solid 2px black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background-color: rgb(218, 218, 218);
    height: 20em;
    margin-top: 10em;
    div {   margin: auto; 
    ul {
        list-style-type: none;
        li {
        margin-top: 1em;
    }
    }
    }
}
/*End Footer Section*/
